@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
label{
    font-family: 'Montserrat';
}
.details{

    font-size: 12px;
    color: #000;
    font-size: 16px;
    width: 48%; 
    margin-bottom: 17px;
    padding: 18px 22px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.selection{
    font-size: 12px;
    color: #000;
    font-size: 16px;
    width: 100%; 
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
.mt-30{
    height: 330px;
}
