@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.container {
    text-align: center;
    font-family: Montserrat;
}

.item {
    flex: 1;
    background-color: aquamarine;
}

.cover {
    height: 20px;
    width: 20px;
}
h2{
    color: rgb(74, 0, 143);
}
.title {
    text-align: center;
    font-family: Montserrat;
    color: rgb(74, 0, 143);
    font-size: 42px;
    margin-top : 165px;
}


.red {
    padding: 13px;
    color: white;
    background-color: rgb(96, 5, 182);
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    width: 180px;
    border: none;
}

.red:hover {
    box-shadow: 0 18px 10px 0px gray;
    text-decoration: none;
    background: rgb(144, 57, 224);
    background-image: -webkit-linear-gradient(top, rgb(144, 57, 224),rgb(200, 146, 250));
    background-image: -moz-linear-gradient(top, rgb(144, 57, 224), rgb(200, 146, 250));
    background-image: -ms-linear-gradient(top, rgb(144, 57, 224), rgb(200, 146, 250));
    background-image: -o-linear-gradient(top, rgb(144, 57, 224), rgb(200, 146, 250));
    background-image: linear-gradient(to bottom, rgb(144, 57, 224), rgb(200, 146, 250));

}
span{
    color: black;
}
