@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.inputitem {
    font-size: 22px;
    color: #000;
    padding: 18px 22px;
    font-size: 16px;
    margin-bottom: 17px;
    border-radius: 10px;
    display: block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.items {
    text-align: center;
    border-radius: 30px;
}

.imgItem {
    height: 60%;
    width: 60%;
    margin: 0 auto;
}

.container {
    text-align: 'center';
}
.button{
    margin-left: 120px;
}

