@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.navbar {
    box-shadow: 0 8px 6px -6px gray;
    color: white;
    background-color: rgb(74, 0, 143);
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.Navitem {
    padding-top: 15px;
    color: white;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    color: white;
}

.nav-outer {
    margin-bottom: 7.8vh;
}

